@lyric_h: 50px;
.@{project-prefix}-lyric-comp {
  position: fixed;
  bottom: 20px;
  height: @lyric_h;
  z-index: @audio-lyric-index;
  width: 400px;
  left: 50%;
  right: 50%;
  transform: translate3d(-50%, 0, 0);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  opacity: 0;
  visibility: visible;
  transition: opacity 0.3s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  &-close {
    flex: 0 0 @lyric_h  * 1.5;
    height: @lyric_h;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 12px;
  }
  &-content {
    flex: 1 1 auto;
    overflow: hidden;
    padding: 0 10px 0 40px;
    &-list {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: var(--text-color);
    }
  }
}

body.light {
  .@{project-prefix}-lyric-comp {
    background: var(--bg-o);
    box-shadow: 0 0 30px 0 var(--shadow-color);
    &-content {
      &-list {
        color: var(--text-color);
      }
    }
    &-close {
      color: var(--text-color);
      &:hover {
        background: var(--shadow-color);
      }
    }
  }
}

body.dark {
  .@{project-prefix}-lyric-comp {
    background: var(--bg-o);
    box-shadow: 0 0 30px 0 var(--shadow-color);
    &-content {
      &-list {
        color: var(--text-color);
      }
    }
    &-close {
      color: var(--text-color);
      &:hover {
        background: var(--shadow-color);
      }
    }
  }
}

