@lyric_h: 50px;
.@{project-prefix}-lyric-comp {
  position: fixed;
  bottom: 20px;
  height: @lyric_h;
  z-index: @audio-lyric-index;
  width: 600px;
  left: 50%;
  right: 50%;
  transform: translate3d(-50%, 0, 0);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &-close {
    flex: 0 0 @lyric_h;
    background: red;
    height: @lyric_h;
  }
  &-content {
    flex: 1 1 auto;
    overflow: hidden;
    &-list {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: var(--text-color);
    }
  }
}

body.light {
  .@{project-prefix}-lyric-comp {
    background: var(--bg-o);
    box-shadow: 0 0 30px 0 var(--shadow-color);
    &-content {
      &-list {
        color: var(--text-color);
      }
    }
  }
}

body.dark {
  .@{project-prefix}-lyric-comp {
    background: var(--bg-o);
    box-shadow: 0 0 30px 0 var(--shadow-color);
    &-content {
      &-list {
        color: var(--text-color);
      }
    }
  }
}

