@switch-w: 54px;
@switch-h: 26px;
@range-w-h: 22px;
@switch-trans: @switch-w - @switch-h;

.@{project-prefix}-comp-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  width: @switch-w;
  height: @switch-h;
  border-radius: @switch-h / 2;
  padding: 2px 8px;
  box-sizing: border-box;
  background: var(--primary-color);
  transition: background-color 0.3s;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  .switch-range {
    position: absolute;
    width: @range-w-h;
    height: @range-w-h;
    top: (@switch-h - @range-w-h) / 2;
    left: (@switch-h - @range-w-h) / 2;
    transform: translate(0, 0);
    border-radius: 50%;
    background: #fff;
    transition: transform 0.3s;
  }

  .switch-on, .switch-off {
    color: #fff;
    vertical-align: middle;
    text-align: center;
    font-size: 14px;
  }

  // .switch-on {
  //   padding-left: 4px;
  // }

  // .switch-off {
  //   padding-right: 4px;
  // }

  &.switch-checked {
    justify-content: flex-start;
    .switch-range {
      transform: translate(@switch-trans, 0);
    }

    // .switch-off {
    //   display: none;
    // }
  }
}