.generic-component {
  transition: color, background-color 0.3s;
}
.generic-component .transition-text {
  transition: color 0.3s;
}
.generic-component .transition-ele {
  transition: color, background-color 0.3s;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'PingFangSC-Medium', 'Microsoft YaHei', 'Avenir', Helvetica, Arial, sans-serif;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  line-height: 1.5;
}
/* 项目名 */
:root {
  --shadow-color: #f0f0f0;
  --primary-color: #369;
  --text-color: #666;
  --text-color-active: #333;
  --bg-nav: #fff;
  --bg-nav-hover: #fafafa;
  --bg: #fff;
}
#dw-theme-container.light {
  --shadow-color: #f0f0f0;
  --primary-color: #369;
  --text-color: #666;
  --text-color-active: #333;
  --bg-nav: #fff;
  --bg-nav-active: #fafafa;
  --bg: #fff;
}
#dw-theme-container.dark {
  --shadow-color: #0e0e0f;
  --primary-color: red;
  --text-color: #999;
  --text-color-active: #eee;
  --bg-nav: #1e1e22;
  --bg-nav-active: #1a1a1d;
  --bg: #201e1e;
}
.right {
  float: right;
}
.left {
  float: left;
}
.center {
  margin: 0 auto;
  float: none;
}
.clear-both {
  clear: both;
  height: 1px;
  margin-top: -1px;
  overflow: hidden;
}
.clear-both:before {
  display: none;
}
.clear-both:after {
  display: none;
}
.block_area {
  margin: 0 auto;
  position: relative;
  font-size: 14px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-bold {
  font-weight: bold;
}
.activeB {
  display: block;
}
.activeF {
  display: flex;
}
.activeN {
  display: none;
}
#dw-react-web {
  position: relative;
}
.dw-page-router {
  width: 768px;
  margin: 0 auto;
  padding: 79px 15px 15px;
  overflow: hidden;
  height: -webkit-fill-available;
  color: var(--text-color);
}
#dw-theme-container {
  background-color: var(--bg);
  transition: background-color 0.3s;
}
.fade-enter,
.fade-appear {
  opacity: 0;
}
.fade-enter-active,
.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-enter-done {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}
.fade-exit-done {
  opacity: 0;
}
.side-up-fade-enter,
.side-up-fade-appear {
  transform: translate(0, -10px);
  opacity: 0;
}
.side-up-fade-enter-active,
.side-up-fade-appear-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 300ms ease-in;
}
.side-up-fade-enter-done {
  opacity: 1;
  transform: translate(0, 0);
}
.side-up-fade-exit {
  opacity: 1;
  transform: translate(0, 0);
}
.side-up-fade-exit-active {
  opacity: 0;
  transform: translate(0, -10px);
  transition: all 300ms ease-in;
}
.side-up-fade-exit-done {
  opacity: 0;
  transform: translate(0, -10px);
}
.dw-react-web-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 28;
  overflow: hidden;
  background-color: var(--bg-nav);
  box-shadow: 1px 1px 25px 0 var(--shadow-color);
  transition: background-color, color, box-shadow 0.3s;
}
.dw-react-web-nav .nav-content {
  width: 768px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.dw-react-web-nav .nav-content .nav-logo {
  flex: 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dw-react-web-nav .nav-content .nav-logo .nav-img {
  height: 50px;
  border-radius: 50%;
}
.dw-react-web-nav .nav-content .nav-lists {
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dw-react-web-nav .nav-content .nav-lists .nav-list {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 15px;
  margin: 0 10px;
  text-decoration: none;
  position: relative;
  transition: all 0.3s;
  overflow: hidden;
  font-size: 14px;
  color: var(--text-color);
  transition: color, background-color 0.3s;
}
.dw-react-web-nav .nav-content .nav-lists .nav-list:hover {
  color: var(--primary-color);
  background-color: var(--bg-nav-active);
}
.dw-react-web-nav .nav-content .nav-lists .nav-list::before {
  content: '';
  position: absolute;
  background: var(--primary-color);
  bottom: 5px;
  left: 50%;
  width: 0;
  height: 2px;
  border-radius: 4px;
  transition: all 0.3s;
  transform: translate(-50%, 400%);
}
.dw-react-web-nav .nav-content .nav-lists .nav-list.active {
  color: var(--text-color-active);
}
.dw-react-web-nav .nav-content .nav-lists .nav-list.active::before {
  width: 50%;
  transform: translate(-50%, 0);
}


/*# sourceMappingURL=styles.chunk.css.map*/