.@{blog-prefix}-detail {
  padding: 0 0 40px 0;
  &-entry {
    margin-top: 50px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-prev, &-next {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &-prev {
      margin-right: 20px!important;
    }
    &-next {
      margin-left: 20px!important;
      text-align: right;
    }
  }
}
