// 这是body到其他路由的样式设置
#@{project-prefix} {
  position: relative;
}

.dw-page-router {
  width: @container-width;
  margin: 0 auto;
  min-height: 100vh;
  padding: 60px + @nav-height 15px 15px;
  .mixinTextColor();
}

#dw-react-web-container {
  .mixinBg();
  transition: background-color 0.3s;
}
