// 这是body到其他路由的样式设置
#@{project-prefix} {
  position: relative;
}

.dw-page-router {
  width: @container-width;
  margin: 0 auto;
  margin-top: @nav-height;
  padding: 15px;
  .mixinTextColor();
}

body {
  .mixinBg();
  transition: background-color 0.3s;
}
