/* 项目名 */
@project-prefix: dw-react-web;

@main-prefix: ~"@{project-prefix}-main";
@home-prefix: ~"@{project-prefix}-home";
@music-prefix: ~"@{project-prefix}-music";
@blog-prefix: ~"@{project-prefix}-blog";
@setting-prefix: ~"@{project-prefix}-setting";


@nav-height: 64px;

@container-width: 768px;
@container-music-width: 1080px;
@container-music-list-width: 1080px;

@z-index-nav: 28;

@raduis: 8px;

// z-index
@nav-z-index: 28;
@notice-z-index: 50;
@audio-z-index: 120;
@rank-type-list-z-index: 29;

// component 颜色
@primary-color: #32adff;
@primary-color-low: #94d0f8;
@primary-color-deep: #024c7e;

@error-color: #cc5555;
@error-color-low: #fccece;
@error-color-deep: #3f1212;

@warning-color: #FFCC33;
@warning-color-low: #fceec3;
@warning-color-deep: #41340d;

@success-color: #69d38c;
@success-color-low: #caf1d7;
@success-color-deep: #080808;

@default-color: #aaaaaa;
@default-color-low: #ececec;
@default-color-deep: #2f2f2f;

:root {
  --shadow-color: #f0f0f0;
  --border-color: rgba(33, 33, 33, 0.03);
  --primary-color: #158a4c;
  --text-color: #666;
  --text-color-active: #333;
  --bg-nav: #fff;
  --bg-nav-hover: #fafafa;
  --bg: #fff;
}

#dw-react-web-container.light {
  --auto-color: #aaa;
  --scroll-color: #f2f2f2;
  --shadow-color: #f0f0f0;
  --border-color: rgba(33, 33, 33, 0.03);
  --primary-color: #FF3300;
  --text-color: #666;
  --text-color-active: #333;
  --bg-nav: #fff;
  --bg-nav-active: #fafafa;
  --mask-bg: rgba(244,244,244,0.3);
  --bg: #fff;
}

#dw-react-web-container.dark {
  --auto-color: #999;
  --scroll-color: #666;
  --shadow-color: #0e0e0f;
  --border-color: rgba(222, 222, 222, 0.03);
  --primary-color: pink;
  --text-color: #999;
  --text-color-active: #eee;
  --bg-nav: #1e1e22;
  --bg-nav-active: #1a1a1d;
  --mask-bg: rgba(0,0,0,0.3);
  --bg: #201e1e;
}

body.light {
  --bg: #fff;
}

body.dark {
  --bg: #201e1e;
}

