.@{project-prefix}-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: @nav-height;
  background: #fff;
  box-shadow: 1px 1px 25px 0 #f0f0f0;
  .nav-content {
    width: @container-width;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .nav-logo {
      flex: 0 0 150px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .nav-img {
        height: 50px;
        border-radius: 50%;
      }
    }
    .nav-lists {
      height: 100%;
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .nav-list {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0 15px;
        margin: 0 10px;
        text-decoration: none;
        color: #666;
        position: relative;
        transition: all 0.3s;
        overflow: hidden;
        font-size: 14px;
        &:hover {
          color: var(--color);
          background: #fafafa;
        }
        &::before {
          content: '';
          position: absolute;
          background: var(--color);
          bottom: 5px;
          left: 50%;
          width: 0;
          height: 2px;
          border-radius: 4px;
          transition: all 0.3s;
          transform: translate(-50%, 400%);
        }
        &.active {
          color: #333;
          &::before {
            width: 50%;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
}
